<template>
    <div>
        <h4>Login</h4>
        <form>
            <label for="name" >Username</label>
            <div>
                <input id="name" type="text" v-model="name" required autofocus>
            </div>
            <label for="username" >Username</label>
            <div>
                <input id="username" type="text" v-model="username" required autofocus>
            </div>
            <label for="email" >E-Mail Address</label>
            <div>
                <input id="email" type="email" v-model="email" required autofocus>
            </div>
            <div>
                <label for="password" >Password</label>
                <div>
                    <input id="password" type="password" v-model="password" required>
                </div>
            </div>
            <div>
                <button type="submit" @click="handleSubmit">
                    Login
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                name:"",
                username:"",
                email : "",
                password : ""
            }
        },
        methods : {
            handleSubmit(e){
                e.preventDefault()
                if (this.password.length > 0) {
                    this.$http.post('http://final1.test/login', {
                        name: this.name,
                        username: this.username,
                        email: this.email,
                        password: this.password
                    })
                        .then(response => {

                        })
                        .catch(function (error) {
                            console.error(error.response);
                        });
                }
            }
        }
    }
</script>
