<template>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-2">
        <div class="container">
          <a class="navbar-brand">
              <router-link :to="{ name: 'NewsPost' }" style="color: #ffffff" class="col">Newsy</router-link>
          </a>
            <a>
                <template v-if="authenticated">
                    <router-link :to="{ name: 'Categories' }" style="color: #ffffff" class="col">Categories</router-link>
                    <a href="#" style="color: #ffffff" @click.prevent="signOut">Sign Out</a>
                </template>
                <template v-else>
                    <router-link :to="{ name: 'SignIn' }" style="color: #ffffff" class="col">Sign In</router-link>
                    <router-link :to="{ name: 'SignUp' }" style="color: #ffffff" class="col">Sign Up</router-link>
                </template>
            </a>
        </div>
    </nav>
</template>

<script>
    import {mapGetters, mapActions} from 'vuex'
    export default {
        computed:{
            ...mapGetters({
                authenticated:'auth/authenticated'
            })
        },
        methods:{
            ...mapActions({
                signOutAction:'auth/signOut'
            }),

            signOut(){
               this.signOutAction().then(()=>{
                   this.$router.replace({
                       name:'NewsPost'
                   })
               })
            }
        }
    }
</script>
