<template>
    <div>
        <nav aria-label="Page navigation example" class="mt-3">
            <ul class="pagination">
                <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item">
                    <a class="page-link" href="#" @click="fetchNewsPosts(pagination.prev_page_url)">
                        Previous
                    </a>
                </li>
                <li class="page-item disabled">
                    <a class="page-link text-dark" href="#">
                        Page {{pagination.current_page}} of {{pagination.last_page}}
                    </a>
                </li>
                <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item">
                    <a class="page-link" href="#" @click="fetchNewsPosts(pagination.next_page_url)">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
        <div class="row mt-4">
            <div class="col-lg-4 col-md-6 mb-4" v-for="newspost in newsposts" v-bind:key="newspost.id">
                <div class="card h-100">
                    <a :href="newspost.url">
                        <img class="card-img-top" :src="newspost.image" alt="">
                    </a>
                    <div class="card-body" >
                        <h4 class="card-title">
                            <a :href="newspost.url">{{newspost.title}}</a>
                        </h4>
                        <h5 @load=getCategory(newspost_id)>{{category}}</h5>
                        <p class="card-text">{{newspost.snippets}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        data(){
            return {
                newsposts:[],
                newspost:{
                    id:'',
                    category_id:'',
                    title:'',
                    url:'',
                    image:'',
                    snippets:''
                },
                newspost_id:'',
                pagination:{},
                edit:false,
                category:'',
            }
        },

        created(){
            this.fetchNewsPosts();
        },

        methods:{
            fetchNewsPosts(page_url){
                let vm=this;
                page_url=page_url || '/api/newsposts'
                fetch(page_url)
                .then(res=>res.json())
                .then(res=>{
                    this.newsposts=res.data;
                    vm.makePagination(res.meta, res.links);
                })
                .catch(function (error) {
                    console.log(error);
                })
            },
            getCategory(id){
                fetch('/api/category/'+id, {
                    method:'get'
                })
                    .then(res=>res.json())
                    .then(res=> {
                        this.category = res.data;
                    })
            },
            makePagination(meta,links){
                let pagination={
                    current_page: meta.current_page,
                    last_page: meta.last_page,
                    next_page_url: links.next,
                    prev_page_url: links.prev
                }
                this.pagination=pagination;
            }
        }
    }
</script>
