<template>
    <form @submit.prevent="submit">
        <div>
            <label for="email">
                Email
            </label>
            <input type="text" name="email" id="email" v-model="form.email">
        </div>

        <div>
            <label for="password">
                Password
            </label>
            <input type="password" name="password" id="password" v-model="form.password">
        </div>

        <div>
            <button type="submit">
                Sign In
            </button>
        </div>
    </form>
</template>

<script>
    import {mapActions} from 'vuex'
    // import axios from "axios";
    export default{
        name:'SignIn',
        components:{

        },

        data(){
            return{
                form:{
                    email:'',
                    password:'',
                }
            }
        },

        methods:{
            ...mapActions({
                signin:'auth/signin'
            }),
            submit(){
                this.signin(this.form).then(()=>{
                    this.$router.replace({
                        name:'Admin'
                    })
                })
            }
        }
    }
</script>
