<template>
    <div class="mt-5">
        <form @submit.prevent="submit" >
            <div class="row">
                <div class="col-2">
                    <label for="name">
                        Name
                    </label>
                </div>
                <div class="col-4">
                    <input type="text" name="name" id="name" v-model="form.name">
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="username">
                        Username
                    </label>
                </div>
                <div class="col-4">
                    <input type="text" name="username" id="username" v-model="form.username">
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="email">
                        Email
                    </label>
                </div>
                <div class="col-4">
                    <input type="text" name="email" id="email" v-model="form.email">
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="password">
                        Password
                    </label>
                </div>
                <div class="col-4">
                    <input type="password" name="password" id="password" v-model="form.password">
                </div>
            </div>

            <div class="mt-3">
                <button type="submit" class="btn btn-primary">
                    Sign Up
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import axios from 'axios'
    export default{
        name:'SignUp',
        data(){
            return{
                form:{
                    name:'',
                    username:'',
                    email:'',
                    password:'',
                }
            }
        },
        methods:{
            async submit(){
                let response=axios.post('http://127.0.0.1:8001/user/reg', this.form)
                console.log(response.data)
            }
        },
    }
</script>
