<template>
    <div class="mt-5">
    <form @submit.prevent="submit">
        <div class="row">
            <div class="col-2">
                <label for="email">
                    Email
                </label>
            </div>
            <div class="col-4">
                <input type="text" name="email" id="email" v-model="form.email">
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label for="password">
                    Password
                </label>
            </div>
            <div class="col-4">
                <input type="password" name="password" id="password" v-model="form.password">
            </div>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">
                Sign In
            </button>
        </div>
    </form>
    </div>
</template>

<script>
    import {mapActions} from 'vuex'
    export default{
        name:'SignIn',
        components:{

        },

        data(){
            return{
                form:{
                    email:'',
                    password:'',
                }
            }
        },

        methods:{
            ...mapActions({
                signin:'auth/signin'
            }),
            submit(){
                this.signin(this.form).then(()=>{
                    this.$router.replace({
                        name:'NewsPost'
                    })
                }).catch(()=>{
                    console.log('failed');
                })
            }
        }
    }
</script>

